.mainMenuList {
  display: flex;
  gap: 1rem;
}

.mainMenuItem {
  color: var(--color-text-grey);
  font-weight: 700;
  text-transform: uppercase;
}

.mainMenuItem a:global(.active) {
  border-bottom: 1px solid var(--color-text-default);
  color: var(--color-text-default);
}
