.accordionContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  min-width: 100px;
}

.accordionImg {
  transform: rotate(180deg);
}

.accordionImgReverse {
  transform: none;
}

.accordionTitle {
  font-weight: 700;
  padding: 1rem 0;
}

.accordionText {
  border-top: 1px solid var(--color-text-default);
  padding: 0.5rem 0;
}
